.board-container {
  display: flex;
  justify-content: center;
  height: 100%;
}

table {
  align-self: center;
  border: 2px solid;
  border-collapse: collapse;
  display: grid;
  text-align: center;
}

td {
  height: 100px;
  width: 100px;
  border: 2px solid;
}

button {
  height: 100%;
  width: 100%;
  background-color: aliceblue;
  padding: 0;
  border: 0;
  font-size: 50px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
button:hover {
  background-color: rgb(215, 255, 255);
}
