table {
  align-self: center;
  border: 2px solid;
  border-collapse: collapse;
  display: grid;
  text-align: center;
}

td {
  height: 100px;
  width: 100px;
  border: 2px solid;
}
button {
  font-size: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.activePlayer-container {
  display: flex;
  justify-content: center;
}
.board-container {
  display: flex;
  justify-content: center;
  height: 70%;
  margin-bottom: 35px;
}
.table-button {
  height: 100%;
  width: 100%;
  background-color: #ceeaf7;
  padding: 0;
  border: 0;
}
.table-button:hover {
  background-color: #828a95;
}
.restart-container {
  display: flex;
  justify-content: center;
}
.restart-button {
  height: 100%;
  background-color: #ccd7e4;
}
